@charset "UTF-8";
@font-face {
    font-family: 'Formula1';
    src: url(../fonts/Formula1-Regular_web_0.ttf) format('opentype');
}

:root{
    --cor0: #F1D8C9;
    --cor1: #F4AE82;
    --cor2: #BFAB9F;
    --cor3: #73675F;
    --cor4: #73513D;
    --cor5: #125189;
    
}

*{
    font-family: 'Product Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, #F1D8c9, #f2c3a7);
    font-size: 16pt;
    margin: 0px;  
}

header{
    background-image:  linear-gradient(to bottom, #73513da6, var(--cor4), var(--cor4));
    min-height: 100px;
    padding: 10px;
    text-align: center;

}
header > p{
    color: var(--cor0);
    font-size: 1.0em;
    max-width: 1000px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 315);
}
header > h1{
    padding-top: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 267);
}
nav{
    padding: 4px;
    background-color: var(--cor4);
    text-decoration: none;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 363);
}
nav > a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    border-radius: 0px 0px 4px 4px;
    font-size: 15px;

}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 1);
    padding: 19px;
    width: 1000px;
    margin: auto;
}

main strong{
    font-weight: bolder;
    padding: 2px;

}
img{
    border-radius: 0px;
    
}
h1{
    font-family: Formula1;
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 77, 5);
    padding-bottom: 8px;
}

h2{
    font-family: Formula1;
    color: #125189;
    text-align: center;
    padding: 10px;
}

h3{
    font-family: Formula1;
    text-align: center;
    color: #125189;
    padding: 0px 65px 5px 65px;
    text-align: justify;
}
h4{
    font-family: Formula1;
    color: #125189;
    padding: 0px 0px 5px 65px;  
}
h6{
    font-family: Formula1;
    color: #125189;
    font-size: 12px;
}

p{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px; 
    padding: 0px 30px 10px 3%;
    }

caption{
    padding: 10px;
    font-weight: bold;
    font-size: 34px;
    background-color: rgba(128, 128, 128, 0.11);
}
img{
    display: block;
    margin: auto;;
}
aside{
    background-color: rgba(211, 211, 211, 0.794);
    border-radius: 15px;
}
aside > h2{
    padding: 5px;
    background-color: var(--cor2);
    margin: 10px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
aside > h4{
    padding: 10px 0px 5px 65px;

}
article > ul{
    font: 50px;
}
footer{
    background-color: #73513D;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    clear: both;
    border-top: 1px solid #888888;
}
ol{
    padding: 0px 30px 0px 45px;
    text-align: justify;
}

ul{
    padding-left: 80px;
    padding-bottom: 10px;

}
li > a{
    font-size: 17px;
    text-decoration: none;
    transition-duration: .5s;
    color: rgba(0, 0, 0, 0.815);
}

li > a:hover{
    background-color: lightgrey;
    color: var(--cor5);
}
table{
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px;
  }

  tbody > tr:nth-child(odd){
      background-color: rgba(211, 211, 211, 0.247);
  }
  
  th, td {
    font-size: 17px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 5px;
  }
  th{
    background-color: rgba(128, 128, 128, 0.705);
    color: white;
    padding-left: 2px;
  }
  th > a{
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  th > a:hover{
    background-color: lightgrey;
    color: var(--cor5);
    }
  table td:hover {
      background-color: #f5f5f567;
    }
    td.libelle{
        text-align: left;
    }
    td.total{
        text-align: center;
        font-weight: bold;
    }
    td.num{
        text-align: right;
    }
    td.link{
        text-align: center;
    }
    td.tiltre{
        font-weight: bold;
    }
    td > a{
        text-decoration: none;
        color: black;
        transition-duration: 0.5s;
      }
      td > a:hover{
        background-color: lightgrey;
        color: var(--cor5);
        }
    th.titulo{
        background-color: grey;
        border-radius: 15px;
            padding: 5px;
            margin: 10px 0px 0px 0px;
        border-radius: 10px 10px 0px 0px;
    }
    aside > h4{
        padding: 10px 0px 5px 65px;

          }
tr.odd{
    background-color: rgba(211, 211, 211, 0.171);
}
  iframe{
   
   display: block;
   margin: 0 auto;
   width: 500px;
  }


  div#seasons table{
    border-collapse: collapse;
  }
  
  div#seasons th{
      padding: 10px;
      color: black;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      background-color: rgba(211, 211, 211, 0.381);
  }
  div#seasons td{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  div#titulo h4{
      color: white;
    background-image: linear-gradient(to left,var(--cor2),var(--cor4) );
  }

 aside#lateral{
    display: block;
    width: 100px;
    float: right;
    background-color: #dddddd;
    padding: 10pt;
    margin-top: 7px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

aside#lateral h1{
    font-family: 'FonteLogo,' sans-serif;
    font-size: 18pt;
    color: #606060;
    margin-top: 50px;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 11pt;
    color: white;
    padding: 5pt;
}
aside#lateral p{
    font-size: 15pt;
    text-align: right  ;
    color: black;
    padding: 5pt;

}

aside#left{
    display: block;
    width: 410px;
    float: left;
    background-color: #dddddd;
    padding: 10pt;
    margin-top: 7px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

aside#left h1{
    font-family: 'FonteLogo,' sans-serif;
    font-size: 18pt;
    color: #606060;
    margin-top: 50px;
}

aside#left h2{
    background-color: #606060;
    font-size: 11pt;
    color: white;
    padding: 5pt;
}
figure.foto-legenda{
    position: relative;
}
