<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>F1</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/f1.css">

</head>
<header>
    <h1>OS GRANDES PRÊMIOS DA FORMULA 1</h1>
    <p style="text-align: center;">A história das corridas contada em detalhes</p>
    <nav>
        <a href="index.html">HOME</a>
        <a href="seasons.html">TEMPORADAS</a>
        <a href="races.html">CORRIDAS</a>
        <a href="drivers.html">PILOTOS</a>
        <a href="teams.html">EQUIPES</a>
        <a href="circuits.html">CIRCUITOS</a>
        <a href="interviews.html">ENTREVISTAS</a>
        <a href="fale.html">FALE CONOSCO</a>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock %}

</body>